@model IEnumerable<KnowYourVote2.Models.Favorite>

@{
    Layout = null;
}

<!DOCTYPE html>
@* This is where the user profile would be. Including favorite
politicians and comments if they make any *@

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookmark)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bookmark)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FavoriteID }) |
                @Html.ActionLink("Details", "Details", new { id=item.FavoriteID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FavoriteID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
